Package: rpicam-apps-kipr
Version: 1.0.0-trixie
Architecture: arm64
Maintainer: KIPR <info@kipr.org>
Depends: libopencv-imgcodecs410, libswscale8, libavcodec61
Description: rpicam-apps with libwallaby interface.
